@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.sect {
  @apply flex flex-col justify-start items-start gap-[12px] font-[600] text-[18px] lg:text-[16px] ls:text-[14px] sm:text-[20px] w-full;
}
.inputCont {
  @apply flex border-[1px] border-[#AAA] rounded-[8px] justify-center items-center p-[1em] w-full;
}
.inputCont2 {
  @apply flex border-[1px] border-[#AAA] rounded-[8px] justify-center items-center px-[16px] py-[12px] w-full;
}
.input{
  @apply border border-none outline-none font-[400] w-full pl-[0.5em];
}
.err{
  @apply text-red-500 text-[0.7rem] sm:text-[0.9rem] font-[400];
}
.box{
  @apply flex justify-center items-center gap-[0.5em] px-[1.5em] py-[1em] sm:py-[0.5em] w-[100%] border-[1px] mt-[1em] border-[#AAA] rounded-[8px] cursor-pointer shadow-md;
}
.flexbm {
  @apply flex justify-between items-center;
}
.flexbs {
  @apply flex justify-between items-start;
}
.flexbe {
  @apply flex justify-between items-end;
}
.flexam {
  @apply flex justify-around items-center;
}
.flexmm {
  @apply flex justify-center items-center;
}
.flexem {
  @apply flex justify-end items-center;
}
.flexme {
  @apply flex justify-center items-end;
}
.flexsm {
  @apply flex justify-start items-center;
}
.flexms {
  @apply flex justify-center items-start;
}
.flexss {
  @apply flex justify-start items-start;
}
.flexse {
  @apply flex justify-start items-end;
}
.flexes {
  @apply flex justify-end items-start;
}

.cflexbm {
  @apply flex flex-col justify-between items-center;
}
.cflexbs {
  @apply flex flex-col justify-between items-start;
}
.cflexbe {
  @apply flex justify-between items-end;
}
.cflexam {
  @apply flex flex-col justify-around items-center;
}
.cflexmm {
  @apply flex flex-col justify-center items-center;
}
.cflexem {
  @apply flex flex-col justify-end items-center;
}
.cflexme {
  @apply flex flex-col justify-center items-end;
}
.cflexsm {
  @apply flex flex-col justify-start items-center;
}
.cflexms {
  @apply flex flex-col justify-center items-start;
}
.cflexss {
  @apply flex flex-col justify-start items-start;
}
.cflexse {
  @apply flex flex-col justify-start items-end;
}
.cflexes {
  @apply flex flex-col justify-end items-start;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  font-size: 16px;  
}

.btn{
  @apply rounded-full py-3 px-6 bg-primary2 text-white text-[0.8em] font-[700] cursor-pointer flex justify-center items-center gap-2
}

img,
video {
  object-fit: cover;
}

.tHead > div,
.tRow > div {
  /* width: 20% */
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* input:checked+div {
    @apply border-theme-color;
}

input:checked+div svg {
    @apply block;
} */


.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input{
  @apply border-solid border border-gray-300 p-3 rounded-md focus:outline-none
}